.list_destrezas_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
}
.list_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 122px;
  background-color: #00bfa6;
  border-radius: 100px;
  border: 2px solid #fff;
}

.text_destreza {
  color: #fff;
  margin-top: 17px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.destreza_image {
  color: #fff;
  height: 80px;
  width: 80px;
}
