/************ Estilos de las cartas ***********/

.normalCard {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 229px;
  align-items: center;
  text-align: center;
}

.tecnologia_card {
  height: 267px;
  width: 212px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #e3e3e3;
  transition: 0.2s;
  text-align: center;
}

.tecnologia_card:hover {
  transform: scale(1.2);
}

.interes_card {
  width: 229px;
  height: 300px;
  /* background-color: cornflowerblue; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

/*********** Estilos de titulo *****************/
.product_title {
  font-size: 20px;
}
/*********** Estilos de descripcion*****************/

.product_description {
  font-size: 12px;
}

/*********** Estilos de imagen *****************/

.normal_image {
  width: 229px;
  height: 171px;
}

.image_tec {
  height: 92px;
  width: 92px;
}

.interes_image {
  width: 229px;
  height: 171px;
}

/**********************Media queries **********************/

@media (max-width: 1228px) {
  .normalCard {
    height: 300px;
    width: 200px;
  }

  .tecnologia_card {
    height: 267px;
    width: 190px;
  }

  .interes_card {
    width: 200px;
    height: 300px;
  }

  .interes_image {
    width: 200px;
    height: 171px;
  }
}
