/*************** Margenes *******************/
.mt_4 {
  margin-top: 4px;
}
.mt_8 {
  margin-top: 8px;
}
.mt_25 {
  margin-top: 25px;
}
.mh_32 {
  margin-left: 32px;
  margin-right: 32px;
}
.mt_70 {
  margin-top: 70px;
}
.mb_70 {
  margin-bottom: 70px;
}

.mb_40 {
  margin-bottom: 40px;
}
.mb_50 {
  margin-bottom: 50px;
}

/*************** Fuentes *******************/
.open_sans {
  font-family: "Open Sans", sans-serif;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}

/*************** Font Weight *******************/
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_700 {
  font-weight: 700;
}
/************** Colors ************/
.semiblue {
  color: #7a8d99;
}
