/*************** Margenes *******************/
.mt_4 {
  margin-top: 4px;
}
.mt_8 {
  margin-top: 8px;
}
.mt_11 {
  margin-top: 11px;
}
.mb_13 {
  margin-bottom: 13px;
}
.mr_13 {
  margin-right: 13px;
}
.mb_19 {
  margin-bottom: 19px;
}
.mt_25 {
  margin-top: 25px;
}
.mh_25 {
  margin-left: 25px;
  margin-right: 25px;
}
.mh_32 {
  margin-left: 32px;
  margin-right: 32px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mr_42 {
  margin-right: 42px;
}
.ml_42 {
  margin-left: 42px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mt_56 {
  margin-top: 56px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mt_70 {
  margin-top: 70px;
}
.mb_70 {
  margin-bottom: 70px;
}
.mr_85 {
  margin-right: 85px;
}
/*************** Fuentes *******************/
.open_sans {
  font-family: "Open Sans", sans-serif;
}
.quicksand {
  font-family: "Quicksand", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}

/*************** Font Weight *******************/
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_700 {
  font-weight: 700;
}
/************** Colors ************/
.semiblue {
  color: #7a8d99;
}

/*************/
.fz_12 {
  font-size: 12px;
}
.fz_20 {
  font-size: 20px;
}

.fz_30 {
  font-size: 30px;
}

/**** formato de texto *****/
