* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  min-height: 700px;
  background-color: #e6e6e6;
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "info imagen";
}

/*************** BANNER APARTADO DE INFO ******************************/
.banner_info_container {
  grid-area: info;
}

.info_content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 80px;
}

.gris {
  color: #3f3d56;
}

.verde {
  color: #00bfa6;
}

.boton_dev {
  width: 205px;
  height: 63px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border-radius: 30px 0 30px 0;
  background-color: #00bfa6;
  padding: 13px 20px;
  border: 5px solid #ffff;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  font-size: 50px;
  text-decoration: none;
}

.boton_dev:hover {
  background-color: #00e5c7;
}

.dev_descripcion {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #7e7e7e;
  margin-top: 21px;
  max-width: 600px;
}

.banner_botones {
  margin-top: 27px;
  display: flex;
  align-items: center;
}
.boton_blog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  background-color: #00bfa6;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-right: 40px;
  transition: 0.5s;
  text-decoration: none;
}

.boton_blog:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.boton_contactame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  background-color: #3f3d56;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 25px;
  border-radius: 10px;
  margin-right: 25px;
  transition: 0.5s;
  text-decoration: none;
}

.boton_contactame:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.mensaje_icono {
  height: 40px;
  width: 40px;
  color: #3f3d56;
}

/*************************** IMAGEN BANNER*******************************/

.banner_imagen_container {
  grid-area: imagen;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #00bfa6; */
}

.banner_foto {
  height: 70%;
  width: 70%;
  /* background-color: aqua; */
}

/************************** MEDIA QUERIES *******************************/

@media (max-width: 1704px) {
  .titulo {
    font-size: 70px;
  }

  .boton_dev {
    font-size: 40px;
  }

  .dev_descripcion {
    font-size: 24px;
  }

  .boton_blog {
    font-size: 20px;
    height: 40px;
    width: 210px;
  }

  .boton_contactame {
    font-size: 17px;
    height: 40px;
    width: 210px;
  }
}

@media (max-width: 1430px) {
  .titulo {
    font-size: 60px;
  }

  .boton_dev {
    font-size: 32px;
  }

  .dev_descripcion {
    font-size: 20px;
    max-width: 500px;
  }

  .banner {
    min-height: 600px;
  }

  .boton_blog {
    font-size: 20px;
    height: 40px;
    width: 170px;
  }

  .boton_contactame {
    font-size: 17px;
    height: 40px;
    width: 170px;
  }
}

@media (max-width: 1228px) {
  .titulo {
    font-size: 50px;
  }

  .boton_dev {
    font-size: 26px;
  }

  .dev_descripcion {
    font-size: 17px;
    max-width: 400px;
  }

  .banner {
    min-height: 550px;
  }

  .boton_blog {
    font-size: 20px;
    height: 40px;
    width: 130px;
  }

  .boton_contactame {
    font-size: 17px;
    height: 40px;
    width: 130px;
  }
}

@media (max-width: 1000px) {
  .titulo {
    font-size: 40px;
  }

  .boton_dev {
    font-size: 20px;
  }

  .dev_descripcion {
    font-size: 14px;
    max-width: 300px;
  }

  .banner {
    min-height: 500px;
  }

  .boton_blog {
    font-size: 15px;
    height: 30px;
    width: 100px;
  }

  .boton_contactame {
    font-size: 12px;
    height: 30px;
    width: 100px;
  }
}
