.tecnologia_card {
  height: 267px;
  width: 212px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #e3e3e3;

  transition: 0.2s;
}

.tecnologia_card:hover {
  transform: scale(1.2);
}

.image_tec {
  margin-top: 11px;
  height: 92px;
  width: 92px;
}
.title_tec {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 19px;
}
.description_tec {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0 25px;
  text-align: center;
}
