.interes_card {
  width: 229px;
  height: 300px;
  /* background-color: cornflowerblue; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}
.interes_image {
  width: 229px;
  height: 171px;
}

.interes_title {
  color: #7a8d99;
}
